:root{

    --primary-color: #000;
    --secondary-color: #fff;
    --primary-button-color: #0178BA;
    --secondary-button-color: #06517a;
    --about-us-bg: #f3fbfe;
    --primary-color-p: #696969;
    --details-rang-bg: #E3E3E5;
    --primary-border: #DADADA;
    --newsletter-bg: #096BD8;
    --subscribe-btn: #33B8E7;
}