// fonts
$font-size20: 20px;
$font-size70: 70px;
$font-size45: 45px;
$font-size26: 26px;
$font-size24: 24px;
$font-size30: 30px;
$font-size40: 40px;
$font-size18: 18px;
$font-size16: 16px;




// line-height
$line-height50: 50px;
$line-height26: 26px;
$line-height24: 24px;
$line-height45: 45px;
$line-height40: 40px;
$line-height30: 30px;


// height
$height100: 100%;



// width
$width100: 100%;
$width50: 50%;


// transition
$transition05: all 0.5s ease;